
__pycache__/botfunc.cpython-39.pyc
.DS_Store
*.pyc
*.pdf
users/AnyaDD/lesson_1/homework/1627901400
*.webp
*.mp4
users/AnyaDD/lesson_1/creativework/1627901420
users/AnyaDD/lesson_1/warring/1627901370
users/AnyaDD/lesson_1/homework/1627901911
users/AnyaDD/lesson_1/homework/1627901960
users/AnyaDD/lesson_1/homework/1627902059
users/Emin_Pho/lesson_1/creativework/1627901420
users/Emin_Pho/lesson_1/homework/1627901400
users/Emin_Pho/lesson_1/homework/1627901911
users/Emin_Pho/lesson_1/homework/1627901960
users/Emin_Pho/lesson_1/homework/1627902059
users/Emin_Pho/lesson_1/warring/1627901370
users/heytanne/lesson_1/creativework/1627901420
users/heytanne/lesson_1/homework/1627901400
users/heytanne/lesson_1/homework/1627901911
users/heytanne/lesson_1/homework/1627901960
users/heytanne/lesson_1/homework/1627902059
users/heytanne/lesson_1/warring/1627901370
users/Kamila_Usmanova/lesson_1/creativework/1627901420
users/Kamila_Usmanova/lesson_1/homework/1627901400
users/Kamila_Usmanova/lesson_1/homework/1627901911
users/Kamila_Usmanova/lesson_1/homework/1627901960
users/Kamila_Usmanova/lesson_1/homework/1627902059
users/Kamila_Usmanova/lesson_1/warring/1627901370
users/lowely_pony/lesson_1/creativework/1627901420
users/lowely_pony/lesson_1/homework/1627901400
users/lowely_pony/lesson_1/homework/1627901911
users/lowely_pony/lesson_1/homework/1627901960
users/lowely_pony/lesson_1/homework/1627902059
users/lowely_pony/lesson_1/warring/1627901370
users/Mr_Moony007/lesson_1/creativework/1627901420
users/Mr_Moony007/lesson_1/homework/1627901400
users/Mr_Moony007/lesson_1/homework/1627901911
users/Mr_Moony007/lesson_1/homework/1627901960
users/Mr_Moony007/lesson_1/homework/1627902059
users/Mr_Moony007/lesson_1/warring/1627901370
users/nelly_white/lesson_1/creativework/1627901420
users/nelly_white/lesson_1/homework/1627901400
users/nelly_white/lesson_1/homework/1627901911
users/nelly_white/lesson_1/homework/1627901960
users/nelly_white/lesson_1/homework/1627902059
users/nelly_white/lesson_1/warring/1627901370
users/Nikpleskach/lesson_1/creativework/1627901420
users/Nikpleskach/lesson_1/homework/1627901400
users/Nikpleskach/lesson_1/homework/1627901911
users/Nikpleskach/lesson_1/homework/1627901960
users/Nikpleskach/lesson_1/homework/1627902059
users/Nikpleskach/lesson_1/warring/1627901370
users/yannnut/lesson_1/creativework/1627901420
users/yannnut/lesson_1/homework/1627901400
users/yannnut/lesson_1/homework/1627901911
users/yannnut/lesson_1/homework/1627901960
users/yannnut/lesson_1/homework/1627902059
users/yannnut/lesson_1/warring/1627901370
