
users/yannnut/lesson_1/warring/1627901370
.DS_Store
__pycache__/botfunc.cpython-39.pyc
__pycache__/callback.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/content.cpython-39.pyc
__pycache__/database.cpython-39.pyc
__pycache__/user_config.cpython-39.pyc
lessons/.DS_Store
lessons/Creative_HW_1.pdf
lessons/Creative_HW_2.pdf
lessons/Creative_HW_3.pdf
lessons/Creative_HW_4.pdf
lessons/Creative_HW_5.pdf
lessons/Creative_HW_6.pdf
lessons/Creative_HW_7.pdf
lessons/Creative_HW_8.pdf
lessons/Homework_1.pdf
lessons/Homework_2.pdf
lessons/Homework_3.pdf
lessons/Homework_4.pdf
lessons/Homework_5.pdf
lessons/Homework_6.pdf
lessons/Homework_7.pdf
lessons/Homework_8.pdf
lessons/info.pdf
lessons/Lesson_1.mp4
lessons/Lesson_1.pdf
lessons/Lesson_2.pdf
lessons/Lesson_3.pdf
lessons/Lesson_4.pdf
lessons/Lesson_5.pdf
lessons/Lesson_7.pdf
lessons/Lesson_8.pdf
lessons/Lesson_9.pdf
stickers/funny.webp
users/.DS_Store
users/AnyaDD/lesson_1/.DS_Store
users/AnyaDD/lesson_1/creativework/1627901420
users/AnyaDD/lesson_1/homework/1627901400
users/AnyaDD/lesson_1/homework/1627901911
users/AnyaDD/lesson_1/homework/1627901960
users/AnyaDD/lesson_1/homework/1627902059
users/AnyaDD/lesson_1/warring/1627901370
users/Emin_Pho/.DS_Store
users/Emin_Pho/lesson_1/.DS_Store
users/Emin_Pho/lesson_1/creativework/1627901420
users/Emin_Pho/lesson_1/homework/1627901400
users/Emin_Pho/lesson_1/homework/1627901911
users/Emin_Pho/lesson_1/homework/1627901960
users/Emin_Pho/lesson_1/homework/1627902059
users/Emin_Pho/lesson_1/warring/1627901370
users/heytanne/lesson_1/.DS_Store
users/heytanne/lesson_1/creativework/1627901420
users/heytanne/lesson_1/homework/1627901400
users/heytanne/lesson_1/homework/1627901911
users/heytanne/lesson_1/homework/1627901960
users/heytanne/lesson_1/homework/1627902059
users/heytanne/lesson_1/warring/1627901370
users/Kamila_Usmanova/lesson_1/.DS_Store
users/Kamila_Usmanova/lesson_1/creativework/1627901420
users/Kamila_Usmanova/lesson_1/homework/1627901400
users/Kamila_Usmanova/lesson_1/homework/1627901911
users/Kamila_Usmanova/lesson_1/homework/1627901960
users/Kamila_Usmanova/lesson_1/homework/1627902059
users/Kamila_Usmanova/lesson_1/warring/1627901370
users/lowely_pony/lesson_1/.DS_Store
users/lowely_pony/lesson_1/creativework/1627901420
users/lowely_pony/lesson_1/homework/1627901400
users/lowely_pony/lesson_1/homework/1627901911
users/lowely_pony/lesson_1/homework/1627901960
users/lowely_pony/lesson_1/homework/1627902059
users/lowely_pony/lesson_1/warring/1627901370
users/Mr_Moony007/lesson_1/.DS_Store
users/Mr_Moony007/lesson_1/creativework/1627901420
users/Mr_Moony007/lesson_1/homework/1627901400
users/Mr_Moony007/lesson_1/homework/1627901911
users/Mr_Moony007/lesson_1/homework/1627901960
users/Mr_Moony007/lesson_1/homework/1627902059
users/Mr_Moony007/lesson_1/warring/1627901370
users/nelly_white/.DS_Store
users/nelly_white/lesson_1/.DS_Store
users/nelly_white/lesson_1/creativework/1627901420
users/nelly_white/lesson_1/homework/1627901400
users/nelly_white/lesson_1/homework/1627901911
users/nelly_white/lesson_1/homework/1627901960
users/nelly_white/lesson_1/homework/1627902059
users/nelly_white/lesson_1/warring/1627901370
users/Nikpleskach/lesson_1/.DS_Store
users/Nikpleskach/lesson_1/creativework/1627901420
users/Nikpleskach/lesson_1/homework/1627901400
users/Nikpleskach/lesson_1/homework/1627901911
users/Nikpleskach/lesson_1/homework/1627901960
users/Nikpleskach/lesson_1/homework/1627902059
users/Nikpleskach/lesson_1/warring/1627901370
users/yannnut/lesson_1/.DS_Store
users/yannnut/lesson_1/creativework/1627901420
users/yannnut/lesson_1/homework/1627901400
users/yannnut/lesson_1/homework/1627901911
users/yannnut/lesson_1/homework/1627901960
users/yannnut/lesson_1/homework/1627902059
*.db
